.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid #0f172a1a;
  background: rgba(239, 238, 238, 0.7);
  z-index: 9999;
}

.main-container {
  width: 100%;
  min-height: calc(100vh - 120px);
}

.footer-container {
  width: 100%;
  height: 120px;
  border-top: 1px solid #3455a31a;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: saturate(100%) blur(3px);
}